---
import portada from "../images/invitacion-pao/portada-2.png";
import "../styles/global.css";
import "@fontsource/libre-baskerville";
import "@fontsource/poppins";
import "@fontsource-variable/kapakana";
import logo1 from "../images/aylin/logotipo.svg";
import font from "../images/aylin/alan-aylin.svg";
import foto1 from "../images/aylin/foto-1.webp";
import foto2 from "../images/aylin/foto-2.webp";
import foto3 from "../images/aylin/foto-3.webp";
import iglesia from "../images/aylin/iglesia.jpg";
import salon from "../images/aylin/salon.jpg";
import Itinerario from "../components/aylin/progressline.astro";
import foto4 from "../images/aylin/foto-4.webp";
import foto5 from "../images/aylin/foto-5.webp";
import foto6 from "../images/aylin/foto-6.webp";
import foto8 from "../images/aylin/foto-8.webp";
import foto9 from "../images/aylin/foto-9.webp";
import foto10 from "../images/aylin/foto-10.webp";
import foto11 from "../images/aylin/foto-11.webp";
import foto7 from "../images/aylin/foto-7.png";
import liver from "../images/aylin/liver.svg";
import hospedaje from "../images/aylin/hospedaje.jpg";
import Form from "../components/aylin/form.astro";
---

<style>
    .video-pao {
        border-radius: 4rem; /* equivalente a rounded-md en Tailwind */
        overflow: hidden;
        display: block; /* para evitar espacios extra debajo del video */
        width: 100%; /* opcional, para que el video tome todo el ancho del contenedor */
    }
    body {
        font-family: "Libre Baskerville", serif;
    }
    .poppins {
        font-family: "Poppins", sans-serif;
    }
    .titulos {
        font-family: "Kapakana Variable", cursive;
    }
    .audio-player {
        position: fixed;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(35, 49, 86, 0.6);
        padding: 8px 16px;
        border-radius: 55px;
        display: flex;
        align-items: center;
        gap: 12px;
        width: auto;
        max-width: 320px;
        z-index: 1000;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: white;
        transition: fill 0.3s ease;
    }

    button:hover {
        fill: #151560;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .volume-slider {
        -webkit-appearance: none;
        width: 120px;
        height: 6px;
        border-radius: 12px;
        background: rgba(35, 49, 89, 0.8);
        cursor: pointer;
        position: relative;
    }

    .volume-slider::-webkit-slider-runnable-track {
        height: 6px;
        background: rgba(35, 49, 89, 0.8);
        border-radius: 12px;
    }
    .volume-slider::-moz-range-track {
        height: 6px;
        background: rgba(35, 49, 89, 0.8);
        border-radius: 12px;
    }

    .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        margin-top: -5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s;
    }
    .volume-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s;
    }

    .volume-slider::-webkit-slider-thumb:hover,
    .volume-slider::-moz-range-thumb:hover {
        background-color: #d8b07f;
    }
</style>

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nuestra boda, Aylin y Alan 游눐</title>
        <meta
            property="og:image"
            content="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/aylin-boda-og-image.jpg"
        />
        <meta
            property="og:description"
            content="춰Nos encantar칤a que est칠s con nosotros! Confirma tu asistencia y acomp치침anos a celebrar nuestro d칤a m치s especial."
        />
        <style>
            body {
                background-color: rgb(255, 254, 251); /* terracota */
                font-family: "Segoe UI", sans-serif;
            }
        </style>
    </head>
    <body class="text-white min-h-screen relative">
        <div class="hidden md:block">
            <div
                class="flex flex-col items-center justify-center h-screen text-[#344665]"
            >
                <img class="w-15 mb-10" src={logo1.src} alt="" />
                <p>S칩lo disponible para dispositivos m칩viles.</p>
            </div>
        </div>
        <div class="block md:hidden">
            <section class="">
                <div
                    id="audio-modal"
                    class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-[9999] p-6"
                >
                    <div
                        class="bg-white rounded-lg shadow-lg max-w-sm w-full p-8 text-center flex flex-col items-center justify-center"
                    >
                        <h2
                            class="text-4xl font-semibold mb-4 text-gray-800 titulos"
                        >
                            춰Bienvenido!
                        </h2>
                        <p class="mb-6 text-gray-600">
                            Para disfrutar la mejor experiencia, da click en
                            "Ver invitaci칩n".
                        </p>
                        <button
                            class="poppins"
                            id="btn-activate-audio"
                            style="
    background-color:#344665;
    color: white;
    padding: 16px 34px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    white-space: nowrap;
    min-width: 140px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  "
                        >
                            Ver invitaci칩n
                        </button>
                    </div>
                </div>

                <!-- Audio Oculto -->
                <audio
                    id="background-audio"
                    src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/aylin-cancion-boda.mp3"
                    loop
                    muted
                    preload="auto"></audio>

                <!-- Controles Audio -->
                <div
                    class="audio-player"
                    role="region"
                    aria-label="Control de audio"
                >
                    <button
                        id="play-pause"
                        aria-label="Reproducir/Pausar"
                        type="button"
                    >
                        <!-- Play icon por defecto -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384 512"
                            id="icon-play"
                            style="display: inline;"
                        >
                            <path
                                d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
                            ></path>
                        </svg>
                        <!-- Pause icon oculto inicialmente -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512"
                            id="icon-pause"
                            style="display: none;"
                        >
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112L0 400c0 26.5 21.5 48 48 48l32 0c26.5 0 48-21.5 48-48l0-288c0-26.5-21.5-48-48-48L48 64zm192 0c-26.5 0-48 21.5-48 48l0 288c0 26.5 21.5 48 48 48l32 0c26.5 0 48-21.5 48-48l0-288c0-26.5-21.5-48-48-48l-32 0z"
                            ></path>
                        </svg>
                    </button>

                    <input
                        id="volume-slider"
                        class="volume-slider"
                        type="range"
                        min="0"
                        max="1"
                        step="0.01"
                        value="0.5"
                        aria-label="Control de volumen"
                    />
                </div>

                <script>
                    function setupAudioPlayer() {
                        const audio = document.getElementById(
                            "background-audio",
                        ) as HTMLAudioElement | null;
                        const playPauseBtn = document.getElementById(
                            "play-pause",
                        ) as HTMLButtonElement | null;
                        const iconPlay = document.getElementById(
                            "icon-play",
                        ) as SVGSVGElement | null;
                        const iconPause = document.getElementById(
                            "icon-pause",
                        ) as SVGSVGElement | null;
                        const volumeSlider = document.getElementById(
                            "volume-slider",
                        ) as HTMLInputElement | null;

                        const audioModal = document.getElementById(
                            "audio-modal",
                        ) as HTMLElement | null;
                        const btnActivateAudio = document.getElementById(
                            "btn-activate-audio",
                        ) as HTMLButtonElement | null;

                        if (!audio) {
                            console.error(
                                "El audio no existe o no es un elemento audio v치lido",
                            );
                            return;
                        }
                        if (!playPauseBtn) {
                            console.error(
                                "El bot칩n play/pause no existe o no es v치lido",
                            );
                            return;
                        }
                        if (!iconPlay) {
                            console.error(
                                "El icono play no existe o no es un SVG",
                            );
                            return;
                        }
                        if (!iconPause) {
                            console.error(
                                "El icono pause no existe o no es un SVG",
                            );
                            return;
                        }
                        if (!volumeSlider) {
                            console.error(
                                "El slider de volumen no existe o no es un input",
                            );
                            return;
                        }
                        if (!audioModal) {
                            console.error("El modal no existe");
                            return;
                        }
                        if (!btnActivateAudio) {
                            console.error(
                                "El bot칩n de activar audio no existe o no es un bot칩n",
                            );
                            return;
                        }

                        function updatePlayPauseIcon() {
                            if (!audio) return;
                            if (audio.paused) {
                                iconPlay!.style.display = "inline"; // <-- agregamos "!" aqu칤
                                iconPause!.style.display = "none"; // <-- y aqu칤
                            } else {
                                iconPlay!.style.display = "none"; // <-- y aqu칤
                                iconPause!.style.display = "inline"; // <-- y aqu칤
                            }
                        }

                        playPauseBtn.addEventListener("click", () => {
                            if (!audio) return;
                            if (audio.paused) {
                                audio.muted = false;
                                audio.play().catch(console.error);
                            } else {
                                audio.pause();
                            }
                            updatePlayPauseIcon();
                        });

                        volumeSlider.addEventListener("input", () => {
                            if (!audio) return;
                            audio.volume = parseFloat(volumeSlider.value);
                            audio.muted = volumeSlider.value === "0";
                        });

                        audio.volume = volumeSlider
                            ? parseFloat(volumeSlider.value)
                            : 1;
                        audio.muted = true; // muteamos para autoplay
                        updatePlayPauseIcon();

                        audio.play().catch(() => {
                            audio.muted = true;
                            updatePlayPauseIcon();
                        });

                        function handleScrollPlay() {
                            if (!audio) return;
                            if (audio.paused) {
                                audio.muted = false;
                                audio
                                    .play()
                                    .then(updatePlayPauseIcon)
                                    .catch(() => {
                                        audio.muted = true;
                                        updatePlayPauseIcon();
                                    });
                            }
                            window.removeEventListener(
                                "scroll",
                                handleScrollPlay,
                            );
                        }
                        window.addEventListener("scroll", handleScrollPlay, {
                            passive: true,
                        });

                        btnActivateAudio.addEventListener("click", () => {
                            if (!audio) return;
                            audio.muted = false;
                            audio.play().catch(console.error);
                            audioModal.style.display = "none";
                            updatePlayPauseIcon();
                        });
                    }

                    document.addEventListener(
                        "DOMContentLoaded",
                        setupAudioPlayer,
                    );
                </script>
            </section>

            <section class="sticky top-0 z-0">
                <div class="lg:hidden flex flex-col items-center">
                    <!-- T칤tulo -->
                    <section class="flex items-center flex-col">
                        <img class="mt-15 w-10" src={logo1.src} alt="" />
                        <div class="w-px h-20 bg-[#344665] my-5"></div>
                        <img class="" src={font.src} alt="" />
                    </section>

                    <section class="text-center z-10 relative mb-5 mt-5">
                        <div>
                            <p class="mb-4 opacity-45 text-black">
                                7 de Febrero
                            </p>
                        </div>
                        <div
                            id="countdown"
                            class="flex justify-center gap-6 text-[#344665]"
                        >
                            <div class="flex flex-col items-center">
                                <span id="days" class="text-2xl font-bold"
                                    >--</span
                                >
                                <span class="text-xs mt-1">d칤as</span>
                            </div>
                            <div class="flex flex-col items-center">
                                <span id="hours" class="text-2xl">--</span>
                                <span class="text-xs mt-1">horas</span>
                            </div>
                            <div class="flex flex-col items-center">
                                <span id="minutes" class="text-2xl">--</span>
                                <span class="text-xs mt-1">minutos</span>
                            </div>
                            <div class="flex flex-col items-center">
                                <span id="seconds" class="text-2xl">--</span>
                                <span class="text-xs mt-1">segundos</span>
                            </div>
                        </div>
                    </section>

                    <script is:inline>
                        const countdown = () => {
                            const endDate = new Date("2026-02-07T00:00:00");
                            const now = new Date();
                            const diff = endDate - now;

                            if (diff <= 0) {
                                document.getElementById("countdown").innerHTML =
                                    "춰Ya lleg칩 el gran d칤a!";
                                return;
                            }

                            const seconds = Math.floor((diff / 1000) % 60);
                            const minutes = Math.floor((diff / 1000 / 60) % 60);
                            const hours = Math.floor(
                                (diff / (1000 * 60 * 60)) % 24,
                            );
                            const days = Math.floor(
                                diff / (1000 * 60 * 60 * 24),
                            );

                            document.getElementById("days").textContent = days;
                            document.getElementById("hours").textContent =
                                hours;
                            document.getElementById("minutes").textContent =
                                minutes;
                            document.getElementById("seconds").textContent =
                                seconds;
                        };

                        countdown(); // primera ejecuci칩n
                        setInterval(countdown, 1000); // cada segundo
                    </script>
                </div>
            </section>
            <section
                class="relative z-5 mt-screen-height p-6 flex flex-col mt-10"
            >
                <img class="w-40" src={foto1.src} alt="" />
                <img class="w-32 pt-5 ml-auto" src={foto2.src} alt="" />
                <img class="w-54 pt-5 mr-auto" src={foto3.src} alt="" />
                <img class="w-36 pt-5 ml-auto" src={foto8.src} alt="" />
                <img class="w-44 pt-5 mr-auto" src={foto9.src} alt="" />
            </section>
            <section class="sticky top-32 bg-[#FFFDFB] z-[6] mt-26">
                <div class="flex flex-col items-center justify-center">
                    <div class="w-px h-20 bg-black mb-5"></div>
                    <p class="text-[#344665] text-center py-3 p-8 poppins">
                        El amor nos encontr칩, y desde entonces ha escrito cada
                        p치gina de nuestra historia.
                    </p>
                    <p
                        class="text-[#344665] text-center pt-3 pb-10 p-8 poppins"
                    >
                        Ahora comienza un nuevo cap칤tulo, uno que queremos
                        escribir junto a quienes han estado siempre: nuestra
                        familia y amigos.
                    </p>
                </div>
            </section>
            <!--ceremonia -->
            <section class="sticky top-0 z-[7] bg-[#FFFDFB]">
                <div class="flex flex-col items-center justify-center">
                    <img src={iglesia.src} alt="" />
                    <div class="flex flex-col items-center justify-center">
                        <h2 class="text-[#344665] text-6xl titulos mt-5">
                            Ceremonia
                        </h2>
                        <p class="text-center text-[#344665] titulos text-xl">
                            4:30 pm a 5:30 pm
                        </p>
                        <p class="text-center text-[#344665] poppins mt-8">
                            Finca la fortaleza
                        </p>
                        <p
                            class="text-center text-[#344665] poppins text-xs px-10 mt-2"
                        >
                            Dalias 4, Santa Mar칤a Cuevas, 55610 Zumpango de
                            Ocampo, M칠x.
                        </p>
                        <a
                            href="https://maps.app.goo.gl/roRsuuYsbf2xubh37"
                            class="bg-[#1a2434] poppins px-4 py-1 my-4"
                            >Ubicaci칩n</a
                        >
                    </div>
                    <div class="w-px h-20 bg-black mb-5"></div>
                </div>
            </section>
            <!--recepci칩n -->
            <section class="sticky top-0 z-[8] bg-[#FFFDFB]">
                <div class="flex flex-col items-center justify-center">
                    <img src={salon.src} alt="" />
                    <div class="flex flex-col items-center justify-center">
                        <p
                            class="text-[#344665] text-center text-xs mt-5 mb-[-4px] poppins"
                        >
                            Coctel de bienvenida y
                        </p>
                        <h2
                            class="text-[#344665] text-6xl titulos text-center mt-0"
                        >
                            Recepci칩n
                        </h2>

                        Recepci칩n.
                    </div>
                    <p class="text-center text-[#344665] titulos text-xl">
                        5:30 pm a 6:00 pm
                    </p>
                    <p class="text-center text-[#344665] poppins mt-8">
                        Finca la fortaleza -- Sal칩n
                    </p>
                    <p
                        class="text-center text-[#344665] poppins text-xs px-10 mt-2"
                    >
                        Dalias 4, Santa Mar칤a Cuevas, 55610 Zumpango de Ocampo,
                        M칠x.
                    </p>
                    <a
                        href="https://maps.app.goo.gl/roRsuuYsbf2xubh37"
                        class="bg-[#1a2434] poppins px-4 py-1 my-4">Ubicaci칩n</a
                    >
                    <div class="w-px h-20 bg-black mb-5"></div>
                </div>
            </section>
            <section class="sticky top-0 z-[8] bg-[#FFFDFB]">
                <img
                    src={foto11.src}
                    alt=""
                    class="w-full max-h-80 object-cover"
                />

                <div class="flex flex-col items-center justify-center px-4">
                    <div class="flex flex-col items-center justify-center mt-4">
                        <h2 class="text-[#344665] text-6xl titulos text-center">
                            Nuestros Padrinos
                        </h2>

                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-6 w-full max-w-3xl text-center"
                        >
                            <div class="pb-2 border-b border-gray-300">
                                <h3 class="text-[#1a2434] text-lg font-bold">
                                    Velaci칩n
                                </h3>
                                <p class="text-[#344665] mt-1 text-sm">
                                    Aderly e Israel
                                </p>
                            </div>

                            <div class="pb-2 border-b border-gray-300">
                                <h3 class="text-[#1a2434] text-lg font-bold">
                                    Lazo y Anillos
                                </h3>
                                <p class="text-[#344665] mt-1 text-sm">
                                    Javier y Judith
                                </p>
                            </div>

                            <div class="pb-2 border-b border-gray-300">
                                <h3 class="text-[#1a2434] text-lg font-bold">
                                    Arras
                                </h3>
                                <p class="text-[#344665] mt-1 text-sm">
                                    Manu y Kari
                                </p>
                            </div>

                            <div class="pb-2 border-gray-300">
                                <h3 class="text-[#1a2434] text-lg font-bold">
                                    Testigos Civil
                                </h3>
                                <p class="text-[#344665] mt-1 text-sm">
                                    Isac, Luis y Susi
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="relative">
                <section class="sticky top-0 z-[9] bg-[#FFFDFB]">
                    <div>
                        <Itinerario />
                    </div>
                </section>
            </div>
            <section class="sticky top-0 z-[10] bg-[#FFFDFB]">
                <img src={foto4.src} alt="" />
            </section>
            <section class="sticky top-0 z-[10] bg-[#FFFDFB]">
                <img src={foto5.src} alt="" />
            </section>
            <section class="sticky top-0 z-[10] bg-[#FFFDFB]">
                <img src={foto6.src} alt="" />
            </section>
            <section class="sticky top-0 z-[10] bg-[#FFFDFB]">
                <img src={foto10.src} alt="" />
            </section>
            <section class="sticky top-0 z-[11] bg-[#FFFDFB]">
                <div class="flex flex-col items-center justify-center">
                    <div class="w-px h-36 bg-[#344665] mb-5"></div>
                    <h2
                        class="text-6xl/8 titulos text-[#344665] text-center px-10 pt-5"
                    >
                        C칩digo de vestimenta
                    </h2>
                    <p class="poppins text-2xl mt-15 text-[#344665]">FORMAL</p>
                    <div class="mt-1 text-center">
                        <p class="text-[#344665] poppins text-xs">
                            Mujeres: Vestido de gala
                        </p>
                        <p class="text-[#344665] poppins text-xs">
                            Hombres: Traje
                        </p>
                    </div>
                </div>
                <div class="pt-5 pb-24">
                    <p
                        class="pb-2 mb-4 text-[#344665] font-semibold text-center mt-10"
                    >
                        Colores no permitidos
                    </p>

                    <div
                        class="grid grid-cols-4 justify-items-center gap-x-0.5 gap-y-2 max-w-xs mx-auto px-8 rounded border-b pb-2"
                    >
                        <!-- Blanco -->
                        <div
                            class="w-10 h-10 rounded-full bg-white border border-gray-300"
                        >
                        </div>
                        <!-- D8BFA0 -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #D8BFA0;"
                        >
                        </div>
                        <!-- 586C85 -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #586C85;"
                        >
                        </div>
                        <!-- 5F432D -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #5F432D;"
                        >
                        </div>
                        <!-- EBA341 -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #EBA341;"
                        >
                        </div>
                        <!-- ABA245 -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #ABA245;"
                        >
                        </div>
                        <!-- D9DFDB -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #D9DFDB;"
                        >
                        </div>
                        <!-- 7B7B7B -->
                        <div
                            class="w-10 h-10 rounded-full"
                            style="background-color: #7B7B7B;"
                        >
                        </div>
                    </div>
                </div>
            </section>
            <section class="sticky top-0 z-[11] bg-[#FFFDFB]">
                <div class="flex flex-col items-center justify-center">
                    <div class="w-px h-32 bg-[#344665] mb-5"></div>
                    <h2
                        class="text-6xl/8 titulos text-[#344665] text-center px-10 pt-5"
                    >
                        Mesa de regalos
                    </h2>
                    <p
                        class="text-[#344665] text-center px-12 mt-8 poppins text-xs"
                    >
                        Su presencia es el regalo m치s valioso en nuestro d칤a
                        especial, pero sabemos que algunos querr치n darnos m치s.
                    </p>
                </div>
                <div class="mt-10 pb-36">
                    <!-- Bloque 1 -->
                    <div class="flex flex-col items-center justify-center">
                        <img
                            src={liver.src}
                            alt="Logotipo liverpool"
                            class="w-40"
                        />
                        <a
                            href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51655724"
                            class="bg-[#344665] px-6 py-2 mt-3 poppins text-xs"
                        >
                            Regalar
                        </a>
                    </div>
                </div>
            </section>
            <!-- Secci칩n 1: normal (relative), se ve completa -->
            <section class="relative z-[11] bg-[#FFFDFB]">
                <div class="flex flex-col items-center justify-center">
                    <img src={hospedaje.src} alt="Fotos del hospedaje" />
                    <h2
                        class="text-6xl/10 titulos text-[#344665] text-center px-10 pt-10"
                    >
                        Sugerencia de hospedaje
                    </h2>
                    <p class="text-[#344665] poppins mt-10 mb-2">
                        Hospedaje en Finca La Fortaleza
                    </p>
                    <div class="w-px h-20 bg-[#344665]"></div>
                    <p class="text-xs text-[#344665] text-center mt-2 px-10">
                        Sabemos que algunos vienen de lejos para celebrar con
                        nosotros, por eso te ofrecemos la comodidad de
                        hospedarte a solo unos pasos de la fiesta.
                    </p>

                    <video
                        class="w-full max-w-lg mx-auto rounded-lg px-6 mt-10"
                        muted
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/aylin-hospedaje.mp4"
                        controls
                        preload="metadata"
                        poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/aylin-caban%CC%83as.jpeg"
                    >
                        Tu navegador no soporta la etiqueta de video.
                    </video>
                    <div class="w-px h-32 bg-[#344665] mb-5"></div>
                </div>
            </section>

            <!-- Secci칩n 2: el header es sticky; el <Form/> queda debajo y genera el scroll -->
            <section class="bg-[#FFFDFB]">
                <!-- HEADER STICKY -->
                <div class="sticky top-0 z-[12] bg-[#FFFDFB]">
                    <img
                        src={foto7.src}
                        alt="Confirmar asistencia"
                        class="w-full mb-6"
                    />
                    <div class="flex flex-col items-center justify-center px-6">
                        <h2
                            class="text-5xl/8 titulos text-[#344665] text-center px-10 mb-4"
                        >
                            Confirma tu asistencia
                        </h2>
                        <p
                            class="text-[#344665] text-center px-10 mb-6 text-xs"
                        >
                            Para ayudarnos a planear mejor nuestro d칤a especial,
                            por favor contesta este peque침o formulario de Google
                            y confirma tu asistencia.
                        </p>
                    </div>
                </div>

                <!-- CONTENIDO QUE SCROLLEA BAJO EL STICKY -->
                <div class="sticky top-0 bg-white overflow-y-auto z-50">
                    <Form />
                </div>
            </section>
            <footer class="relative z-[14] text-[#344665] py-10 bg-[#FFFDFB]">
                <p class="titulos text-3xl text-center">
                    Con cari침o Aylin y Alan 游눐
                </p>
            </footer>
        </div>
    </body>
</html>
