---
import Layout from "../layouts/Layout.astro";
import ads from "../images/ads.png";
import Progressline from "../components/progressline.astro";
import metrics from "../images/metrics.png";
import stroit from "../images/logos/stroit.webp";
import dinamo from "../images/logos/dinamo.webp";
import wapa from "../images/logos/wapa.webp";
---

<style>
    #gradient {
        background-image: linear-gradient(to left, #6b5ee7, #3faad9, #673fd9);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 400%;
        animation: gradientAnimation 4s infinite alternate-reverse;
    }
    .video-container {
        background-color: #000; /* Fondo negro */

        background-image:
    /* Gradiente negro-transparente-negro de arriba a abajo */
            linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0) 70%,
                rgba(0, 0, 0, 1)
            ),
            /* Cuadrícula vertical */
                linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.1) 1px,
                    transparent 1px
                ),
            /* Cuadrícula horizontal */
                linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0.1) 1px,
                    transparent 1px
                );

        background-size:
            100% 100%,
            /* gradiente */ 40px 40px,
            /* líneas verticales */ 40px 40px; /* líneas horizontales */

        background-repeat: no-repeat, repeat, repeat;
        background-position: top, center, center;

        border-radius: 16px;
        padding: 12px;
    }
</style>

<Layout title="Publicidad Digital Efectiva con Meta Ads: Aumenta tus Ventas en Facebook e Instagram" description="Descubre cómo nuestras estrategias personalizadas de Meta Ads en Facebook e Instagra. Pueden aumentar tus ventas y generar leads cualificados. Optimización constante, resultados medibles y campañas diseñadas para negocios que buscan crecer. ¡Impulsa tu éxito con publicidad digital efectiva!">
    <!--Section 1 -->
    <section class="relative w-full h-screen overflow-hidden">
        <!-- Video de fondo -->
        <video
            autoplay
            muted
            loop
            playsinline
            class="absolute top-0 left-0 w-full h-full object-cover z-0"
        >
            <source
                src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-fondo-background-monrold.mov"
                type="video/mp4"
            />
            Tu navegador no soporta videos HTML5.
        </video>

        <!-- Gradiente encima del video (de abajo a arriba) -->
        <div
            class="absolute inset-0 z-10 bg-gradient-to-t from-black via-black/70 to-transparent"
        >
        </div>

        <!-- Texto centrado sobre el video -->
        <div
            class="relative z-20 flex flex-col justify-center items-center h-full text-center px-6 text-white"
        >
            <h1 class="text-4xl md:text-6xl mb-6 max-w-3xl">
                ¿Por qué tus campañas en Instagram y Facebook no generan <span
                    class="font-medium text-[#6b5ee7]"
                    id="gradient">las ventas que esperas?</span
                >
            </h1>
            <p class="text-lg md:text-xl text-gray-300 max-w-xl">
                No se trata de solo pagar anuncios. Se trata de entender cómo
                compran tus clientes.
            </p>
            <div>
                <div
                    class="absolute left-5 left-30 md:left-[35vw] top-20 lg:top-32 flex justify-center items-center z-10 -rotate-12 opacity-90"
                >
                    <img
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/facebook-icon.svg"
                        alt="Logotipo de facebook"
                        class="w-12 h-12 md:w-14 md:h-14"
                    />
                </div>
                <div
                    class="absolute right-2 sm:rigth-30 md:right-[30vw] top-12 md:top-24 w-40 h-20 rounded-full flex justify-center items-center z-10 rotate-6 opacity-90"
                >
                    <img
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Instagram-icone.svg"
                        alt="Logotipo de Instagram"
                        class="w-12 h-12 md:w-14 md:h-14"
                    />
                </div>
                <div
                    class="absolute left-2 sm:left-30 md:left-[30vw] bottom-5 w-40 lg:bottom-32 h-20 flex justify-center items-center z-10 -rotate-6 opacity-90"
                >
                    <img
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/whatsapp-icon.svg"
                        alt="Logotipo de Whatsapp"
                        class="w-12 h-12 md:w-14 md:h-14"
                    />
                </div>
                <div
                    class="absolute right-1 sm:rigth-30 md:right-[30vw] bottom-12 lg:bottom-32 w-40 h-20 flex justify-center items-center z-10 rotate-12 opacity-90"
                >
                    <img
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/meta-icon.svg"
                        alt="Logotipo de Meta"
                        class="w-12 h-12 md:w-14 md:h-14"
                    />
                </div>
            </div>
        </div>
    </section>
    <div class="max-w-screen-xl mx-auto">
        <img
            src={ads.src}
            alt=""
            data-scroll
            class="mx-auto px-2 opacity-0 translate-y-10 transition-all duration-700"
        />
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const elements = document.querySelectorAll("[data-scroll]");
            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add(
                                "opacity-100",
                                "translate-y-0",
                            );
                            observer.unobserve(entry.target); // evita que se repita
                        }
                    });
                },
                { threshold: 0.1 },
            );

            elements.forEach((el) => observer.observe(el));
        });
    </script>

    <!--Ciclo de ventas -->
    <Progressline />

    <!--Flecha -->
    <div class="flex flex-col items-center gap-2 my-14">
        <!-- Línea con gradiente -->
        <div
            class="w-1 h-32 bg-gradient-to-b from-black via-[#4cc3ff] to-[#a07eff] rounded-full"
        >
        </div>

        <!-- Bullet animado -->
        <div class="w-4 h-4 bg-[#a07eff] rounded-full animate-bounce shadow-lg">
        </div>
    </div>

    <!--Contenido -->
    <section class="bg-black text-white px-6 video-container">
        <div class="max-w-screen-lg mx-auto">
            <div class="text-center mx-auto">
                <h2 class="text-4xl font-medium mb-2">
                    Con contenido que realmente vende
                </h2>
                <p class="text-gray-400 mb-2 px-4 md:px-20">
                    Editamos el contenido visual que tu marca necesita para
                    destacar en cada etapa del proceso de compra. Desde reels
                    dinámicos y videos horizontales hasta imágenes para redes
                    sociales y anuncios, producimos contenido que educa,
                    persuade y convierte.
                </p>
                <div
                    class="rounded-2xl px-4 py-4 overflow-x-auto whitespace-nowrap flex md:justify-center gap-3 text-sm scrollbar-hide"
                >
                    <span
                        class="bg-white text-black px-4 py-2 rounded-full font-medium"
                        >Reels</span
                    >
                    <span
                        class="bg-gray-100 text-black px-4 py-2 rounded-full font-medium"
                        >Imágenes</span
                    >
                    <span
                        class="bg-gray-200 text-black px-4 py-2 rounded-full font-medium"
                        >Carruseles</span
                    >
                    <span
                        class="bg-gray-300 text-black px-4 py-2 rounded-full font-medium"
                        >Historias</span
                    >
                    <span
                        class="bg-gray-400 text-black px-4 py-2 rounded-full font-medium"
                        >Portadas</span
                    >
                    <span
                        class="bg-gray-500 text-black px-4 py-2 rounded-full font-medium"
                        >Video horizontal</span
                    >
                </div>
            </div>
            <div class="md:w-1/3 mx-auto">
                <video
                    src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/monrold-reels-3.mp4"
                    autoplay
                    muted
                    loop
                    playsinline
                    class="rounded-2xl"></video>
            </div>
        </div>
    </section>

    <!--Iteramos -->
    <div
        class="flex flex-col md:flex-row items-center max-w-6xl mx-auto px-4 py-12 gap-8"
    >
        <div class="md:w-1/2 text-left">
            <h2 class="text-3xl md:text-4xl font-semibold mb-4 text-white">
                Iteramos con los resultados para mejorar continuamente
            </h2>
            <p class="text-gray-400 text-lg leading-relaxed">
                Cada campaña es una oportunidad para aprender y optimizar. Por
                eso, estamos en comunicación constante con tu equipo de ventas:
                analizamos los resultados, escuchamos sus comentarios y hacemos
                ajustes estratégicos para que el contenido y los anuncios
                funcionen cada vez mejor.
            </p>

            <div
                class="my-6 h-1 w-full rounded"
                style="background: linear-gradient(to right, #000000, #4c6ef5, #a855f7);"
            >
            </div>

            <p class="text-gray-400 text-base mt-6">
                Realizamos pruebas continuas y afinamos cada detalle para que
                los mensajes conecten con tu audiencia y conviertan mejor. No
                dejamos nada al azar.
            </p>
        </div>
        <div class="md:w-1/2">
            <img
                src={metrics.src}
                alt="Colaboración y análisis de resultados"
                class="rounded-2xl shadow-lg w-full object-cover max-h-96"
            />
        </div>
    </div>

    <!--Precio -->
    <section class="bg-black max-w-screen-lg mx-auto py-20 px-6 text-center text-white">
        <h2 class="text-3xl md:text-5xl font-medium mb-8">
            ¿Por qué trabajar conmigo?
        </h2>
        <p class="text-xl max-w-4xl mx-auto mb-10">
            No vendemos clics ni promesas. Trabajamos con campañas enfocadas en
            resultados reales: ventas. Solo cobramos una comisión si generamos
            resultados.
        </p>
        <div
            class="max-w-5xl mx-auto flex flex-col md:flex-row gap-12 justify-center"
        >
            <!-- Tabla 1: Modelo de trabajo -->
            <div
                class="relative p-8 rounded-3xl inline-block text-left border border-gray-300 bg-transparent flex-1"
            >
                <div
                    class="bg-gray-700 border border-purple- rounded-full inline-block"
                >
                    <p class="px-2 text-white text-xs py-1">Premium</p>
                </div>
                <h3 class="text-4xl mt-2">Un precio único</h3>
                <p>Para resultados únicos</p>
                <div class="mt-10 text-white text-2xl">
                    <div class="">
                        $3,500 MXN <span class="text-xs"
                            >/Mes + Comisiones por resultados</span
                        >
                    </div>
                    <p class="text-sm italic mb-10 text-white/70">
                        Incluye IVA
                    </p>
                </div>
                <div
                    class="my-6 h-1 w-full rounded"
                    style="background: linear-gradient(to right, #000000, #4c6ef5, #a855f7);"
                >
                </div>
                <ul class="mb-8 mt-4 space-y-5 text-gray-300">
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Edición de video e imágenes
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Análisis de métricas
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Análisis de respuestas
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Creación de estrategia para META Ads
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Creación de campañas segmentadas META Ads
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Sugerencia para colaboraciones
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Reporte mensual de resultados
                    </li>
                </ul>

                <!-- Call to Action -->
                <div class="mt-10 flex justify-center">
                    <a
                        href="https://monrold.setmore.com/luismontano"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inline-flex w-full justify-center items-center gap-2 px-6 py-4 text-gray-200 rounded-xl bg-gradient-to-r from-black via-[#4c6ef5] to-[#a855f7] hover:opacity-90 transition duration-300"
                    >
                        <!-- Icono de calendario -->
                        <svg
                            class="w-5 h-5 text-gray-200"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <rect
                                x="3"
                                y="4"
                                width="18"
                                height="18"
                                rx="2"
                                ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        Agendar reunión
                    </a>
                </div>
            </div>

            <!--+ -->
            <span
                class="text-8xl my-auto bg-gradient-to-r from-black via-[#4c6ef5] to-[#a855f7] text-transparent bg-clip-text"
                >+</span
            >

            <!-- Tabla 2: Comisión por resultados -->
            <div
                class="relative p-8 rounded-3xl inline-block text-left border border-gray-300 bg-transparent flex-1"
            >
                <div
                    class="bg-gray-700 border border-purple- rounded-full inline-block"
                >
                    <p class="px-2 text-white text-xs py-1">
                        Calculadora de comisiones
                    </p>
                </div>
                <h3 class="text-4xl mt-2">Comisión</h3>
                <p>Entre más inviertes, menos comisión pagas</p>
                <p class="text-xs text-gray-400 italic">
                    Esta sólo es la inversión para META Ads
                </p>

                <div class="mt-10 mb-10 text-white text-2xl space-y-4">
                    <div class="flex justify-between items-center">
                        <span class="text-2xl">$5,000 MXN</span>
                        <span class="text-sm text-white/70">5% de comisión</span
                        >
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="text-2xl">$10,000 MXN</span>
                        <span class="text-sm text-white/70">4% de comisión</span
                        >
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="text-2xl">$20,000 MXN</span>
                        <span class="text-sm text-white/70">3% de comisión</span
                        >
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="text-2xl">$30,000 MXN</span>
                        <span class="text-sm text-white/70"
                            >1.5% de comisión</span
                        >
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="text-2xl">$40,000 MXN o más</span>
                        <span class="text-sm text-white/70"
                            >1.2% de comisión</span
                        >
                    </div>
                </div>

                <div
                    class="my-6 h-1 w-full rounded"
                    style="background: linear-gradient(to right, #000000, #4c6ef5, #a855f7);"
                >
                </div>

                <ul class="mb-8 mt-4 space-y-5 text-gray-300">
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Solo pagas si generamos ventas
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Contrato mínimo 3 meses
                    </li>
                    <li class="flex items-center gap-3 text-lg">
                        <svg
                            class="w-6 h-6 flex-shrink-0 text-gradient"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M5 13l4 4L19 7"></path>
                        </svg>
                        Estructurado para negocios y empresas de cualquier tamaño.
                    </li>
                </ul>

                <!-- Call to Action -->
                <div class="mt-10 flex justify-center">
                    <a
                        href="https://monrold.setmore.com/luismontano"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inline-flex w-full justify-center items-center gap-2 px-6 py-4 text-gray-200 rounded-xl bg-gradient-to-r from-black via-[#3a3a3a] to-[#666666] hover:opacity-90 transition duration-300"
                    >
                        <!-- Icono de calendario -->
                        <svg
                            class="w-5 h-5 text-gray-200"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <rect
                                x="3"
                                y="4"
                                width="18"
                                height="18"
                                rx="2"
                                ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        Agendar reunión
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Trabajamos -->
    <section class="w-full bg-black py-12 px-4 md:px-16 text-center">
        <div class="max-w-4xl mx-auto">
            <p class="text-2xl md:text-4xl font-medium text-white">
                Trabajamos con empresas que invierten hasta
                <span
                    class="text-3xl font-bold bg-gradient-to-r from-black via-[#4c6ef5] to-[#a855f7] text-transparent bg-clip-text"
                    >+100,000 MXN</span
                >
                en ads y obtienen ventas hasta por
                <span class="font-bold text-[#4c6ef5]">$4,000,000 MXN</span>.
            </p>

            <div class="mt-10 flex flex-col md:flex-row justify-center items-center gap-8 flex-wrap">
                <!-- Logo 1 -->
                <a
                    href="https://www.instagram.com/stroitsurfaces/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src={stroit.src}
                        alt="Logotipo de una marca de motos llamada stroit surfaces vende placas arquitectónicas como mármol"
                        class="h-32 md:h-24 object-contain transition-opacity hover:opacity-80"
                    />
                </a>

                <!-- Logo 2 -->
                <a
                    href="https://www.instagram.com/dinamotocicletas/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src={dinamo.src}
                        alt="Logotipo de una amrca de motos llamada dínamo"
                        class="h-24 md:h-16 object-contain transition-opacity hover:opacity-80"
                    />
                </a>

                <!-- Logo 3 -->
                <a
                    href="https://www.instagram.com/wapamx_/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        src={wapa.src}
                        alt="Logotipo de un estudio de belleza llamado wapa studio"
                        class="h-24 md:h-20 object-contain transition-opacity hover:opacity-80"
                    />
                </a>
            </div>
        </div>
    </section>

    <!--cierre -->
    <section
        class="bg-black py-14 px-6 flex flex-col items-center text-center max-w-screen-xl mx-auto"
    >
    <div
    class="rounded-3xl p-12 w-full text-white relative overflow-hidden"
    style="
      background-color: #18181b;
      background-image:
        linear-gradient(to top, #18181b, transparent),
        repeating-linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.05) 0,
          rgba(255, 255, 255, 0.05) 1px,
          transparent 1px,
          transparent 20px
        ),
        repeating-linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.05) 0,
          rgba(255, 255, 255, 0.05) 1px,
          transparent 1px,
          transparent 20px
        );
    "
  >
    <h2 class="text-3xl md:text-4xl font-medium mb-2">
      ¿Listo para generar llevar a tu negocio al siguiente nivel?
    </h2>
    <p class="text-gray-200 mb-10">
      Agenda una llamada o escríbeme directamente por WhatsApp.
    </p>
    <div class="flex flex-col sm:flex-row justify-center gap-6">
      <a
        href="https://wa.link/62c89k"
        class="inline-block bg-gradient-to-r from-black via-[#4c6ef5] to-[#a855f7] text-white px-8 py-4 rounded-2xl text-lg font-semibold hover:brightness-110 transition"
      >
        Hablemos por WhatsApp
      </a>
      <a
        href="https://www.setmore.com/bookingpage"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block border-2 border-white text-white px-8 py-4 rounded-2xl text-lg font-semibold hover:bg-white hover:text-black transition"
      >
        Agendar llamada
      </a>
    </div>
  </div>
  
  
  
    </section>
</Layout>
