---
import Layout from "../layouts/Layout.astro";
import agenda from "../images/index/agenda.webp";
import html from "../images/index/tec/html.webp";
import css from "../images/index/tec/css.webp";
import tailwind from "../images/index/tec/tailwind.webp";
import js from "../images/index/tec/js.webp";
import ts from "../images/index/tec/ts.webp";
import react from "../images/index/tec/react.webp";
import astro from "../images/index/tec/astro.webp";
import figma from "../images/index/tec/figma.webp";
import ps from "../images/index/tec/ps.webp";
import ai from "../images/index/tec/ai.webp";

import { getCollection } from "astro:content";
const allPosts = await getCollection("proyectos");


---

<Layout
	title="Soy Luis Montaño, y estoy listo para llevar tu proyecto al siguiente nivel con un sitio web moderno, escalable y de alto rendimiento."
>
	<main class="px-4 lg:px-0 gradient-bg mx-auto relative overflow-hidden">
		<div class="max-w-screen-lg mx-auto relative z-10">
			<div class="py-20 relative z-10">
				<h1
					id="headingPrincipal"
					class="font-semibold lg:w-3/4 mx-auto text-center text-white text-4xl lg:text-6xl"
				>
					Hola, soy <span id="gradient">Luis Montaño</span>, Diseñador
					UX y Frontend developer
				</h1>
			</div>
			<div class="my-10 relative z-10">
				<div class="my-5 flex flex-wrap space-y-5 md:space-y-0">
					<div class="w-full md:basis-1/2 md:pr-5">
						<div
							class="bg-[#171527] ring-2 ring-[#292449] w-full h-full rounded-xl relative px-6 pt-6"
						>
							<p class="text-3xl text-gray-200">Tu agenda web</p>
							<p class="text-gray-400 mt-4">
								Optimiza tu tiempo gestionando tus citas,
								reuniones y eventos importantes de forma
								automática
							</p>
							<div class="my-4 space-x-4 mb-4">
								<button
									class="bg-gradient-to-r from-[#6B5EE7] to-[#3F7AD9] rounded-md px-4 py-2 text-gray-100 hover:ring-1 hover:ring-[#3FAAD9]"
								>
									<a
										id="Setmore_button_iframe"
										href="https://booking.setmore.com/scheduleappointment/40260b74-852b-4ed9-9d6a-2090f0f0b907"
										>Agenda un demo</a
									>
								</button>
								<button
									class="text-gray-400 hover:text-gray-200"
								>
									<a href="">Leer más &rarr;</a>
								</button>
							</div>
							<img
								class="opacity-90"
								src={agenda.src}
								alt="Calendario de google"
							/>
						</div>
					</div>
					<div
						class="w-full md:basis-1/2 bg-white bg-opacity-5 ring-2 ring-gray-600 rounded-xl p-6"
					>
						<p class="text-gray-100 text-3xl">Un poco sobre mi</p>
						<div class="space-y-4 text-gray-400 pt-4">
							<p>
								Cuento con 6 años de experiencia trabajando de
								forma remota con personas creativas de agencias,
								nuevas empresas y pequeñas empresas en diversos
								proyectos.
							</p>
							<p>Conocimientos en:</p>
							<div class="flex flex-wrap mt-4">
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={html.src}
										alt="Logotipo de HTML"
									/>
									<p>HTML 5</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={css.src}
										alt="Logotipo de CSS3"
									/>
									<p>CSS3</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={tailwind.src}
										alt="Logotipo de tailwind"
									/>
									<p>Tailwind</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={js.src}
										alt="Logotipo de Javascript"
									/>
									<p>Javascript</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={ts.src}
										alt="Logotipo de Typescript"
									/>
									<p>Typescript</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={react.src}
										alt="Logotipo de React"
									/>
									<p>React</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={astro.src}
										alt="Logotipo de Astro"
									/>
									<p>Astro</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={figma.src}
										alt="Logotipo de figma"
									/>
									<p>Figma</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={ps.src}
										alt="Logotipo de Photoshop"
									/>
									<p>Photoshop</p>
								</div>
								<div
									class="flex items-center space-x-2 p-2 ring-1 ring-gray-400 rounded-md my-1 mx-1 text-sm"
								>
									<img
										class="w-5 h-5"
										src={ai.src}
										alt="Logotipo de Illustrator"
									/>
									<p>Illustrator</p>
								</div>
							</div>
						</div>
						<div class="mt-6 text-gray-400">
							<p>Conoce más de mi día a día en mi instagram</p>
							<div class="mt-2 md:mt-0">
								<a
									class="flex space-x-1"
									href="https://www.instagram.com/monrold21/"
								>
									<svg
										class="w-4 icon fill-gray-400"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 448 512"
										><path
											d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
										></path></svg
									>
									<p>/monrold21</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div class=" bg-gradient-to-r from-indigo-600 to-blue-500 absolute  object-cover inset-0 blur-3xl opacity-40 z-0"></div>
		</div>
	</main>
	<div class="projects-container px-2">
		<div class="max-w-screen-lg mx-auto">
			<div class="flex flex-col md:flex md:flex-row md:justify-between">
				<p class="text-2xl mb-2 md:mb-0 text-gray-400 lg:mb-2">
					Mis últimos proyectos
				</p>
				<a href="">
					<p class="text-gray-400 mb-2 md:mb-0 hover:text-gray-300">
						Ver todos los proyectos &rarr;
					</p>
				</a>
			</div>

			<div class="overflow-x-scroll snap-x snap-mandatory">
				<div>
					<ul class="flex" style=`${allPosts.length * 600}vw`>
						{
							allPosts.slice(0, 3).map((project) => (
								<li class="project text-gray-100 lg:px-0 snap-center hover:cursor-pointer py-2">
									<a
										class="pointer rounded-md"
										href={`/proyectos/${project.slug}`}
									>
										<div class="relative">
											<img
												loading="lazy"
												class="rounded-md"
												src={project.data.image.src}
												alt={project.data.image.alt}
											/>
											<div class=" bottom-0 flex items-center space-x-2 py-4 ml-2 lg:ml-0">
												<div class="o outline outline-1 outline-gray-300 p-1 rounded-md">
													<p id="categoria">
														{
															project.data
																.categoria.ux
														}
														{
															project.data
																.categoria
																.branding
														}
													</p>
												</div>
												<h3 class="title">
													{project.data.title}
												</h3>
											</div>
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="max-w-screen-lg mx-auto mt-10 mb-10">
		<div
			class="bg-gray-50 bg-opacity-5 outline-1 outline outline-gray-600 flex flex-col items-center justify-center rounded-md py-12 md:py-20 px-5 mx-2"
		>
			<div
				class="flex flex-col md:flex-grow items-center justify-center lg:space-x-2 space-y-2"
			>
				<h3
					class="z-10 lg:mx-20 text-2xl md:text-4xl text-gray-400 text-center"
				>
					Tu proyecto con un sitio web moderno, escalable y de alto
					rendimiento.
				</h3>
				<div
					class="flex flex-col space-y-4 md:space-y-0 space-x-4 md:flex md:flex-row pt-4"
				>
					<button class="text-gray-400 z-10 md:w-auto w-full">
						<a
							class="flex justify-center space-x-1 bg-gradient-to-r from-[#6B5EE7] to-[#3F7AD9] rounded-md px-4 py-2 text-gray-100 hover:ring-1 hover:ring-[#3FAAD9]"
							href="https://wa.link/62c89k"
						>
							<svg
								class="w-4 fill-gray-100"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 448 512"
							>
								<path
									d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
								></path></svg
							>
							<p>Contáctame</p></a
						>
					</button>
					<button class="text-gray-400 hover:text-gray-300 z-10">
						<a
							class=""
							id="Setmore_button_iframe"
							href="https://booking.setmore.com/scheduleappointment/40260b74-852b-4ed9-9d6a-2090f0f0b907"
							>Agenda una reunión &rarr;</a
						>
					</button>
				</div>
			</div>
		</div>
	</div>
	<script
		id="setmore_script"
		type="text/javascript"
		src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"
	></script>
</Layout>

<style
	define:vars={{

	}}
>

	.project:hover .o,
	.project:hover .title {
		outline-color: #3f7ad9;
		color: rgb(156, 163, 175);
	}
	.project {
		margin: 0 20px;
	}
	@media screen and (min-width: 400px) {
		.project {
			margin: 0 4px;
		}
	}
	.gradient-bg {
		position: relative;
		min-height: 100vh;
	}
	.gradient-bg::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to top,
			#12101e,
			transparent,
			#12101e
		); /* Corrige la sintaxis del gradiente */
		z-index: 1; /* Asegura que el pseudoelemento esté detrás del contenido principal */
	}
	a:hover .icon path {
		fill: #c13584;
	}
	#gradient {
		background-image: linear-gradient(to left, #6b5ee7, #3faad9, #673fd9);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		background-size: 400%;
		animation: gradientAnimation 4s infinite alternate-reverse;
	}
	@keyframes gradientAnimation {
		from {
			background-position: 0%;
		}
		to {
			background-position: 100%;
		}
	}
</style>
