---
import icon from "/public/favicon.svg";
import perfil from "../images/cfmoto/perfil.jpg";
import bb from "../images/cfmoto/bb-1.jpg";
import bmw1 from "../images/cfmoto/bmw-1.jpg";
import bmw2 from "../images/cfmoto/bmw-2.jpg";
import niebla1 from "../images/cfmoto/niebla-1.jpg";
import espectacular1 from "../images/cfmoto/espectacular-1.jpg";
import banner1 from "../images/cfmoto/banner-1.jpg";
---

<style is:global>
    html {
        background: #12101e;
    }
    body {
        font-family: "Rubik", sans-serif;
    }
    #gradient {
        background-image: linear-gradient(to left, #6b5ee7, #3faad9, #673fd9);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 400%;
        animation: gradientAnimation 4s infinite alternate-reverse;
    }
    @keyframes gradientAnimation {
        from {
            background-position: 0%;
        }
        to {
            background-position: 100%;
        }
    }
</style>

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            property="og:image"
            content="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/og-image-monrold.webp"
        />
        <meta
            property="description"
            content="¿Listo para llevar tus ventas al siguiente nivel?"
        />
        <title>Presentación</title>
    </head>
    <body>
        <nav class="bg-[#12101e] sticky z-50 top-0">
            <div class="flex justify-around space-x-4 py-5">
                <div>
                    <a
                        class="flex relative items-center hover:opacity-80 hover:transition-opacity hover:delay-100"
                        href=""
                    >
                        <img
                            class="w-6 hover:w-7 hover:transition-all hover:delay-150 absolute inset-0 my-auto"
                            src={icon.src}
                            alt="Logotipo Monrold morado"
                        />
                        <p class="text-gray-100 pl-8 monrold">Monrold</p>
                    </a>
                </div>
            </div>
        </nav>
        <section>
            <div
                class="max-w-screen-lg flex flex-col md:flex-row mx-auto md:h-[50vh] md:mt-10"
            >
                <div class="relative md:w-1/3">
                    <img
                        class="object-cover w-full h-full"
                        src={perfil.src}
                        alt="Foto de Luis Montaño el mejor diseñador"
                    />
                    <div
                        class="absolute inset-0 bg-gradient-to-t from-[#12101e] to-transparent"
                    >
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center mt-24 md:mt-0 pl-5 text-gray-400 md:h-[50vh] px-2 md:w-2/3"
                >
                    <h1
                        id="headingPrincipal"
                        class="font-semibold mx-auto text-white text-4xl"
                    >
                        Hola, soy <span id="gradient">Luis Montaño</span>,
                        Diseñador gráfico especializado en ventas por medios
                        sociales.
                    </h1>

                    <p class="mt-4 text-gray-500">
                        Me especializo en atraer leads calificados en el
                        ecosistema de META, conectando con clientes potenciales
                        que realmente están interesados en tus productos o
                        servicios, lo que maximiza tus oportunidades de ventas y
                        acelera el crecimiento de tu empresa.
                    </p>
                    <p class="mt-4 text-gray-500">
                        Además, brindo un servicio 360, ya que puedo realizar
                        imágenes, montajes, reels tanto en producción como en
                        postproducción, páginas web y diseños para impresión,
                        desde banners y tarjetas de presentación hasta
                        espectaculares.
                    </p>
                </div>
            </div>
        </section>
        <section class="max-w-screen-lg mx-auto text-gray-500 mt-20">
            <div class="flex pl-4 md:pl-2 pb-2">
                <h3>Dezliza hacia la derecha</h3>
                <p class="pl-2">&rarr;</p>
            </div>
            <div class="overflow-x-scroll snap-x snap-mandatory responsive">
                <div class="flex">
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={bb.src}
                        alt=""
                    />
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={bmw1.src}
                        alt=""
                    />
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={bmw2.src}
                        alt=""
                    />
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={niebla1.src}
                        alt=""
                    />
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={banner1.src}
                        alt=""
                    />
                    <img
                        class="lg:object-cover md:h-[50vh] w-full snap-center mx-2"
                        src={espectacular1.src}
                        alt=""
                    />
                    <video
                        muted
                        controls
                        class="md:h-[50vh] snap-center mx-2 opacity-80"
                        poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-1-storit.png"
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Snapinsta.app_video_F8485C28247B592E89C0DE2F356295AF_video_dashinit.mp4"
                    >
                    </video>
                    <video
                        muted
                        controls
                        class="md:h-[50vh] snap-center mx-2 opacity-80"
                        poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-2-stroit.png"
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Snapinsta.app_video_65459F494C4F157CEF972797AC6323BE_video_dashinit%20(1).mp4"
                    >
                    </video>
                    <video
                        muted
                        controls
                        class="md:h-[50vh] snap-center mx-2 opacity-80"
                         poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-renac.png"
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Snapinsta.app_video_9545299116ED22709758491537C0F9A1_video_dashinit.mp4"
                    >
                    </video>
                    <video
                        muted
                        controls
                        class="md:h-[50vh] snap-center mx-2 opacity-80"
                        poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-stroit-4.png"
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Snapinsta.app_video_F74545944D8C256E9009036A3E8542BC_video_dashinit.mp4"
                    >
                    </video>
                    <video
                        muted
                        controls
                        class="md:h-[50vh] snap-center mx-2 opacity-80"
                        poster="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/video-soft.png"
                        src="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/Snapinsta.app_video_024E0D41A959462882E5ACD0F405E0B6_video_dashinit.mp4"
                    >
                    </video>
                </div>
            </div>
        </section>
        <section class="max-w-screen-lg mx-auto text-gray-600">
            <div class="px-4 py-4">
                Este es un poco sobre mi trabajo, tanto en diseño de motos como
                en reels de otros temas, si quieres ver más sobre mi o mi
                trabajo puedes visitar
                <a href="https://monrold.com/" class="text-[#8057f2]"
                    >monrold.com</a
                >
            </div>
        </section>
    </body>
</html>
