---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import LogicFilterBtns from '../components/logic-btns-filter-projects.tsx';

const allPosts = await getCollection("proyectos");
const ux = await getCollection("proyectos", ({ data }) => {
    return data.categoria.ux;
});
const branding = await getCollection("proyectos", ({ data }) => {
    return data.categoria.branding;
});
---

<Layout title="Conoce todos mi proyectos">
    <section class="max-w-screen-xl mx-auto">
        <h1 class="text-gray-400 text-center text-4xl py-6">
            Conoce todos mis proyectos
        </h1>
        <LogicFilterBtns client:visible>
            <ul class="flex justify-center flex-wrap mx-auto" slot="All">
              {
                allPosts.map((project) => (
                    <li
                        class="project text-gray-100 lg:px-0 snap-center hover:cursor-pointer"
                        style={{
                            width: `${400}px !important`,
                        }}
                    >
                        <a
                            class="pointer rounded-md"
                            href={`/proyectos/${project.slug}`}
                        >
                            <div class="px-2 py-2">
                                <img
                                    class="rounded-md"
                                    src={project.data.image.src}
                                    alt={project.data.image.alt}
                                />
                                <div class=" bottom-0 flex items-center space-x-2 pt-4 ml-2 lg:ml-0">
                                    <div class="o outline outline-1 outline-gray-300 p-1 rounded-md">
                                        <p id="categoria">
                                            {project.data.categoria.ux}
                                            {project.data.categoria.branding}
                                        </p>
                                    </div>
                                    <h3 class="title">{project.data.title}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
            </ul>
            <ul class="flex flex-wrap mx-auto" slot="Ux">
              {
                ux.map((project) => (
                    <li
                        class="project text-gray-100 lg:px-0 snap-center hover:cursor-pointer"
                        style={{
                            width: `${400}px !important`,
                        }}
                    >
                        <a
                            class="pointer rounded-md"
                            href={`/proyectos/${project.slug}`}
                        >
                            <div class="px-2 py-2">
                                <img
                                    class="rounded-md"
                                    src={project.data.image.src}
                                    alt={project.data.image.alt}
                                />
                                <div class=" bottom-0 flex items-center space-x-2 pt-4 ml-2 lg:ml-0">
                                    <div class="o outline outline-1 outline-gray-300 p-1 rounded-md">
                                        <p id="categoria">
                                            {project.data.categoria.ux}
                                        </p>
                                    </div>
                                    <h3 class="title">{project.data.title}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
            </ul>
            <ul class="flex flex-wrap mx-auto" slot="Branding">
                {
                    branding.map((item) => (
                        <li
                            class="project text-gray-100 lg:px-0 snap-center hover:cursor-pointer"
                            style={{
                                width: `${400}px !important`,
                            }}
                        >
                            <a
                                class="pointer rounded-md"
                                href={`/proyectos/${item.slug}`}
                            >
                                <div class="px-2 py-2">
                                    <img
                                        class="rounded-md"
                                        src={item.data.image.src}
                                        alt={item.data.image.alt}
                                    />
                                    <div class=" bottom-0 flex items-center space-x-2 pt-4 ml-2 lg:ml-0">
                                        <div class="o outline outline-1 outline-gray-300 p-1 rounded-md">
                                            <p id="categoria">
                                                {item.data.categoria.branding}
                                            </p>
                                        </div>
                                        <h3 class="title">{item.data.title}</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>        
          </LogicFilterBtns>
    </section>
</Layout>

<style>
    .project:hover .o,
		.project:hover .title {
			outline-color: #3f7ad9;
			color: rgb(156, 163, 175);
		}
</style>
